<header id="info">
    <div id="infoUser">
        <div>{{userData.first_name}} {{userData.last_name}}</div>
        <div>User's type: {{userData.role}}</div>
        <input id='datacid' type="text" value='{{cid}}'>
    </div>
    <div id="buttonShop">
        <a href="/cart/{{cid}}" role="button" id="cartButton" class="outline" ><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="2 2 20 20" fill="none" stroke="#d87093" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="10" cy="20.5" r="1"/><circle cx="18" cy="20.5" r="1"/><path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1"/></svg></a>
    </div> 
    <div id="buttonOut">
        <a href="/api/auth/logout" role="button" id="logoutButton" class="outline">Logout</a>
    </div> 
</header>

<h1>Hi {{userData.first_name}}!</h1>

<p>Products:</p>

<p>These are our available products:</p>
<div id="filters">
<label for="category">Category:</label>
<select name="options" id="categorySelect">
    <option value="" >All</option>
    <option value="Home" >Home</option>
    <option value="Personal care" >Personal care</option>
    <option value="Gifts" >Gifts</option>
    <option value="Others" >Others</option>
</select>
<label for="sort">Sort:</label>
<select name="options" id="sortSelect">
    <option value="desc" >Higher at lower price</option>
    <option value="asc">Lower at higher price</option>
</select>
</div>

    <div id="divProducts">
        {{#each payload}}
        <div>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Category: {{this.category}}</p>
            <p id="idprod">id: {{this._id}}</p>
            <input id="btnAddCart" type="submit" value="Add Product" class="outline">
        </div>
        {{/each}}
    </div>
<div id="pagination">
<a href="{{prevLink}}" role="button" {{#unless hasPrevPage}}disabled{{/unless}}>Prev</a>
<p>{{page}}</p>
<a href="{{nextLink}}" role="button" {{#unless hasNextPage}}disabled{{/unless}}>Next</a>
</div>

<script src="/js/products.js"></script>




